.card {
  transition: opacity 0.3s, border-color 0.3s;
}

.card:hover {
  opacity: 0.8;
  border-color: white;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.popup h2 {
  margin-top: 0;
}

.popup img {
  max-width: 50%;
  height: auto;
}